# Backend API URL
VITE_API_URL=http://localhost:3000/api

# Wallet Connect (for future use)
VITE_WALLET_CONNECT_PROJECT_ID=

# Smart Contract
VITE_CONTRACT_ADDRESS=ST36BMEQDCRCKYF8HPPDMN1BCSY6TR2NG0BZSQPYG
VITE_CONTRACT_NAME=loopin-game
VITE_NETWORK=testnet
